.title h1 {
    min-height: 100vh;
    padding: 4rem 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 1.15;
    font-size: 4rem;
}

.title {
    text-align: center;
}